<form action = "/payment/results">

<div>
<label for="payment_apr">APR</label>
<input id="payment_apr" type="text" name="apr" placeholder="E.g. 5.42">
</div>

<div>
<label for="payment_years">Number of years</label>
<input id="payment_years" type="text" name="years" placeholder="How many years to repay?">
</div>

<div>
<label for="payment_principal">Principal</label>
<input id="payment_principal" type="text" name="principal" placeholder="How much principal?">
</div>

<button>Calculate monthly payment</button>
</form>
